In [ ]:
1. json, oracle 데이터 주고받는 형식
1-1. 오라클에 json으로 데이터 값 직접적으로 전달
2. api 항목 정리

In [31]:
from selenium import webdriver
import requests

In [32]:
url = "http://data.seoul.go.kr/"

In [33]:
driver = webdriver.Chrome(executable_path = "chromedriver.exe")

In [34]:
driver.get(url)

In [35]:
source = requests.get(url)
source

In [50]:
driver.find_element_by_css_selector('span.nav-search input').click()

In [51]:
input_element = driver.find_element_by_id('query')

In [52]:
input_element.clear()
input_element.send_keys("서울시 유기동물보호 현황 통계")
#driver.find_element_by_css_selector('button.btn_srch').click()
#driver.find_element_by_css_selector('input#query').click()
input_element.submit()

In [71]:
list = driver.find_elements_by_css_selector('.In_Ico a')
#a_ele = list.find_elements_by_tag_name('a')

In [75]:
list_2 = [a.text for a in list]
list[2].click()

In [86]:
url_target1 = driver.find_element_by_css_selector('.subjects3 a').text
#a_ele = list.find_elements_by_tag_name('a')

In [84]:
url_target.split("/")[-4].replace("octastatapi","")

'369'

In [89]:
def changeURL(url_target):
    
    tid = url_target.split("/")[-4].replace("octastatapi","")
    ckey = "72655166576672653130345a61476c4d"
    url = "http://openapi.seoul.go.kr:8088/"+ckey+"/json/octastatapi"+tid+"/1/26/"
    return url

In [90]:
changeURL(url_target1)

'http://openapi.seoul.go.kr:8088/72655166576672653130345a61476c4d/json/octastatapi369/1/26/'

In [91]:
result = requests.get(changeURL(url_target1))

In [139]:
information = result.json()

In [121]:
len(information['octastatapi369']['row'])

26

In [140]:
#information['octastatapi369']['row']

In [151]:
import time
import cx_Oracle
import os
import json

In [142]:
os.putenv("NLS_LANG", ".UTF8")

connection = cx_Oracle.connect('hr','hr','192.168.99.100/xe')
cursor = connection.cursor()

In [162]:

for item in information['octastatapi369']['row']:
    
    item = json.loads(json.dumps(item).replace("-","0"))
    
    GIGAN=item['GIGAN'].replace("'","&quot;")
    JACHIGU=item['JACHIGU'].replace("'","&quot;")
    HAPGYE=int(item['HAPGYE'])
            
    GYE_1=int(item['GYE_1'])
    INDOJUIN_1=int(item['INDOJUIN_1'])
    IBYANGBUNYANG_1=int(item['IBYANGBUNYANG_1'])
    PYESAALLAKSA_1=int(item['PYESAALLAKSA_1'])
    GYERYUGIJEUNG_1=int(item['GYERYUGIJEUNG_1'])
                
    GYE_2=int(item['GYE_2'])
    INDOJUIN_2=int(item['INDOJUIN_2'])
    IBYANGBUNYANG_2=int(item['IBYANGBUNYANG_2'])
    PYESAALLAKSA_2=int(item['IBYANGBUNYANG_2'])
    GYERYUGIJEUNG_2=int(item['GYERYUGIJEUNG_2'])
            
    GYE_3=int(item['GYE_3'])
    INDOJUIN_3=int(item['INDOJUIN_3'])
    IBYANGBUNYANG_3=int(item['IBYANGBUNYANG_3'])
    PYESAALLAKSA_3=int(item['PYESAALLAKSA_3'])
    GYERYUGIJEUNG_3=int(item['GYERYUGIJEUNG_3'])


    insert_sql = "insert into shelter_dog values('{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}',nseq.nextval)"\
                    .format(JACHIGU,HAPGYE,GYE_1,INDOJUIN_1,IBYANGBUNYANG_1,PYESAALLAKSA_1,GYERYUGIJEUNG_1,\
                     GYE_2,INDOJUIN_2, IBYANGBUNYANG_2, PYESAALLAKSA_2, GYERYUGIJEUNG_2, \
                     GYE_3 , INDOJUIN_3, IBYANGBUNYANG_3 , PYESAALLAKSA_3, GYERYUGIJEUNG_3, GIGAN )
    print(insert_sql)   

    cursor.execute(insert_sql)
    connection.commit()

insert into shelter_dog values('합계','8648','5874','2203','1589','2047','35','2434','70','683','683','30','340','22','237','72','9','2016',nseq.nextval)
insert into shelter_dog values('종로구','242','165','47','26','92','0','72','1','6','6','0','5','0','4','1','0','2016',nseq.nextval)
insert into shelter_dog values('중구','159','85','27','21','37','0','65','0','5','5','0','9','1','8','0','0','2016',nseq.nextval)
insert into shelter_dog values('용산구','482','252','138','97','16','1','216','3','116','116','4','14','0','3','10','1','2016',nseq.nextval)
insert into shelter_dog values('성동구','231','161','67','29','65','0','52','0','9','9','0','18','0','17','1','0','2016',nseq.nextval)
insert into shelter_dog values('광진구','296','199','84','49','65','1','89','1','7','7','1','8','0','7','1','0','2016',nseq.nextval)
insert into shelter_dog values('동대문구','363','266','75','57','132','2','90','1','17','17','0','7','1','6','0','0','2016',nseq.nextval)
insert into shelter_dog values('중랑구','394','310','106','78','124','2','71','1','12','12','0','13','0','11','2','0','2016',nseq.nextval)
insert into shelter_dog values('성북구','376','277','95','57','124','1','85','1','15','15','0','14','1','10','3','0','2016',nseq.nextval)
insert into shelter_dog values('강북구','355','280','91','62','127','0','68','2','14','14','0','7','0','7','0','0','2016',nseq.nextval)
insert into shelter_dog values('도봉구','315','212','71','59','80','2','89','1','14','14','0','14','0','11','3','0','2016',nseq.nextval)
insert into shelter_dog values('노원구','330','251','101','60','88','2','64','1','11','11','0','15','2','10','3','0','2016',nseq.nextval)
insert into shelter_dog values('은평구','449','308','99','53','151','5','124','3','12','12','0','17','0','15','2','0','2016',nseq.nextval)
insert into shelter_dog values('서대문구','331','198','69','38','91','0','117','2','16','16','0','16','1','12','3','0','2016',nseq.nextval)
insert into shelter_dog values('마포구','600','240','118','90','20','12','338','11','145','145','21','22','0','7','10','5','2016',nseq.nextval)
insert into shelter_dog values('양천구','425','306','148','78','80','0','109','11','31','31','0','10','1','3','6','0','2016',nseq.nextval)
insert into shelter_dog values('강서구','394','288','105','65','117','1','89','6','14','14','0','17','3','12','2','0','2016',nseq.nextval)
insert into shelter_dog values('구로구','210','163','51','37','74','1','35','0','5','5','0','12','3','8','1','0','2016',nseq.nextval)
insert into shelter_dog values('금천구','216','164','45','50','67','2','44','1','3','3','0','8','0','8','0','0','2016',nseq.nextval)
insert into shelter_dog values('영등포구','279','175','57','44','74','0','94','0','26','26','0','10','0','9','1','0','2016',nseq.nextval)
insert into shelter_dog values('동작구','335','277','146','51','80','0','31','1','17','17','0','27','0','9','17','1','2016',nseq.nextval)
insert into shelter_dog values('관악구','814','550','205','318','27','0','237','17','137','137','0','27','4','21','1','1','2016',nseq.nextval)
insert into shelter_dog values('서초구','178','113','42','27','43','1','56','2','7','7','1','9','0','8','0','1','2016',nseq.nextval)
insert into shelter_dog values('강남구','240','166','65','47','53','1','63','2','8','8','0','11','0','10','1','0','2016',nseq.nextval)
insert into shelter_dog values('송파구','337','242','76','48','117','1','79','1','7','7','0','16','2','11','3','0','2016',nseq.nextval)
insert into shelter_dog values('강동구','297','226','75','48','103','0','57','1','29','29','3','14','3','10','1','0','2016',nseq.nextval)